.scx-fss-upload {
    border: 3px dashed rgba(114, 114, 114, 0.5);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    transition: 200ms ease-in-out border;
}

.scx-fss-upload:hover {
    border-color: #409EFF;
}

.scx-fss-upload > .no-preview-image,
.scx-fss-upload > .preview-image {
    height: 100%;
    width: 100%;
}

.scx-fss-upload > .no-preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scx-fss-upload > .no-preview-image > .scx-icon {
    fill: rgba(61, 61, 61, 0.5);
    height: 40px;
    width: 40px;
}

.scx-fss-upload > .progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.scx-fss-upload > .delete-button {
    position: absolute;
    background: #f56c6c;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    transition: 200ms ease-in-out opacity;
}

.scx-fss-upload > .delete-button > .scx-icon {
    fill: rgba(13, 13, 13, 0.8);
    height: 16px;
    width: 16px;
}

.scx-fss-upload > .delete-button:hover {
    opacity: 100%;
}